accelerate==0.31.0
casadi==3.6.5
cvxpy==1.5.2
diffusers==0.31.0
einops==0.8.0
glfw==2.7.0
gym==0.26.2
gymnasium==0.29.1
gymnasium-robotics==1.2.4
h5py==3.11.0
matplotlib==3.9.0
minari==0.4.3
mujoco==2.3.7
numpy==1.26.4
opencv-python==4.10.0.84
pillow==10.2.0
pybullet==3.2.6
PyOpenGL==3.1.7
PyYAML==6.0.1
qpth==0.0.17
rich==13.7.1
scikit-learn==1.5.2
scipy==1.13.1
tqdm==4.66.4
transformers==4.41.2
wandb==0.17.5
